DerivedData/Contacts/Build/Intermediates.noindex/Contacts.build/Debug-iphonesimulator/Contacts.build/Objects-normal/x86_64/ContactDetailView.d
DerivedData/Contacts/Build/Intermediates.noindex/Contacts.build/Debug-iphonesimulator/Contacts.build/Objects-normal/x86_64/ContactDetailView.dia
DerivedData/Contacts/Build/Intermediates.noindex/Contacts.build/Debug-iphonesimulator/Contacts.build/Objects-normal/x86_64/ContactDetailView.o
DerivedData/Contacts/Build/Intermediates.noindex/Contacts.build/Debug-iphonesimulator/Contacts.build/Objects-normal/x86_64/ContactDetailView.stringsdata
DerivedData/Contacts/Build/Intermediates.noindex/Contacts.build/Debug-iphonesimulator/Contacts.build/Objects-normal/x86_64/ContactDetailView.swiftdeps
DerivedData/Contacts/Build/Intermediates.noindex/Contacts.build/Debug-iphonesimulator/Contacts.build/Objects-normal/x86_64/ContactDetailView~partial.swiftdoc
DerivedData/Contacts/Build/Intermediates.noindex/Contacts.build/Debug-iphonesimulator/Contacts.build/Objects-normal/x86_64/ContactDetailView~partial.swiftmodule
DerivedData/Contacts/Build/Intermediates.noindex/Contacts.build/Debug-iphonesimulator/Contacts.build/Objects-normal/x86_64/ContactDetailView~partial.swiftsourceinfo
DerivedData/Contacts/Build/Intermediates.noindex/XCBuildData/c7f396af3058e2e737a02db469401d07-buildRequest.json
DerivedData/Contacts/Build/Intermediates.noindex/XCBuildData/c7f396af3058e2e737a02db469401d07-desc.xcbuild
DerivedData/Contacts/Build/Intermediates.noindex/XCBuildData/c7f396af3058e2e737a02db469401d07-manifest.xcbuild
DerivedData/Contacts/Build/Intermediates.noindex/XCBuildData/c7f396af3058e2e737a02db469401d07-targetGraph.txt
DerivedData/Contacts/Build/Intermediates.noindex/XCBuildData/PIFCache/project/PROJECT@v11_mod=1635177272.344789_hash=b1d7d6003b0ac4424c457aaabc025a1e-json
DerivedData/Contacts/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v11_hash=cc6c9f58821356430b037411e1cb7230-json
DerivedData/Contacts/Build/Intermediates.noindex/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=99f7ea147d4f593728ec5118a5350f03_subobjects=3e990148153cfc5901d35fd781e2af86-json
DerivedData/Contacts/Index/Build/Intermediates.noindex/XCBuildData/84d0f44b0b0d8e2ba31a7137a2d34dfe-buildRequest.json
DerivedData/Contacts/Index/Build/Intermediates.noindex/XCBuildData/84d0f44b0b0d8e2ba31a7137a2d34dfe-desc.xcbuild
DerivedData/Contacts/Index/Build/Intermediates.noindex/XCBuildData/84d0f44b0b0d8e2ba31a7137a2d34dfe-manifest.xcbuild
DerivedData/Contacts/Index/Build/Intermediates.noindex/XCBuildData/84d0f44b0b0d8e2ba31a7137a2d34dfe-targetGraph.txt
DerivedData/Contacts/Index/Build/Intermediates.noindex/XCBuildData/e36fdd2877b904cfbde1c1552208d0c8-buildRequest.json
DerivedData/Contacts/Index/Build/Intermediates.noindex/XCBuildData/e36fdd2877b904cfbde1c1552208d0c8-desc.xcbuild
DerivedData/Contacts/Index/Build/Intermediates.noindex/XCBuildData/e36fdd2877b904cfbde1c1552208d0c8-manifest.xcbuild
DerivedData/Contacts/Index/Build/Intermediates.noindex/XCBuildData/e36fdd2877b904cfbde1c1552208d0c8-targetGraph.txt
DerivedData/Contacts/Index/DataStore/v5/records/2R/ContactDetailViewController.swift-BN1I9H1MUL2R
DerivedData/Contacts/Index/DataStore/v5/records/6S/ContactDetailViewController.swift-24C0YGAQXMH6S
DerivedData/Contacts/Index/DataStore/v5/records/8Z/ContactDetailView.swift-3DSONONKFY78Z
DerivedData/Contacts/Index/DataStore/v5/records/B2/ContactDetailViewController.swift-3E47M32NEXIB2
DerivedData/Contacts/Index/DataStore/v5/records/KY/ContactDetailView.swift-3LQQA1CB041KY
DerivedData/Contacts/Index/DataStore/v5/records/PF/ContactDetailViewController.swift-2BKJ8N6VETSPF
DerivedData/Contacts/Index/DataStore/v5/records/S9/ContactDetailViewController.swift-34S3XISSYJAS9
DerivedData/Contacts/Index/DataStore/v5/records/Y2/ContactDetailViewController.swift-3U3TLA9SJ26Y2
DerivedData/Contacts/Index/DataStore/v5/units/ContactDetailView.o-NQJ1PALTDK9U
DerivedData/Contacts/Logs/Build/1F4B5F9F-F31A-4576-BB1E-99A9539A5DA4.xcactivitylog
DerivedData/Contacts/Logs/Build/695D0F58-8847-4CEB-871D-ECB1C1BF9248.xcactivitylog
DerivedData/Contacts/Logs/Build/B660B4A5-1745-4FCC-B028-981082063760.xcactivitylog
DerivedData/Contacts/Logs/Build/BF019FFB-4AEA-4F46-8C5B-93032582F267.xcactivitylog
DerivedData/Contacts/Logs/Build/E48AB246-D171-4D64-A969-464FF61593E7.xcactivitylog
DerivedData/Contacts/Logs/Build/E534D7D7-C36A-4CF8-AB28-AD720182D048.xcactivitylog
DerivedData/Contacts/Logs/Build/EC2C0A33-7937-4B58-8BFB-847BB98BCF57.xcactivitylog
DerivedData/Contacts/Logs/Index Build/0C1EE97A-2886-473B-A141-E8076999458A.xcactivitylog
DerivedData/Contacts/Logs/Index Build/2B29ADD5-D14C-48C0-9E96-E0D735E3EAA3.xcactivitylog
DerivedData/Contacts/Logs/Index Build/312A5597-260A-484C-8B36-ADE57057FAAF.xcactivitylog
DerivedData/Contacts/Logs/Index Build/5018471D-11C1-4BCC-B08F-8456BAD20D2F.xcactivitylog
DerivedData/Contacts/Logs/Index Build/5AFFE74B-8ADF-4663-AB63-9D5DA9625D9E.xcactivitylog
DerivedData/Contacts/Logs/Index Build/5C01F2AA-15A7-4D29-8139-21B108271B82.xcactivitylog
DerivedData/Contacts/Logs/Index Build/5F190671-52F6-42BA-9A23-19E974319F36.xcactivitylog
DerivedData/Contacts/Logs/Index Build/971F7A40-24CF-49A4-AA10-3DDB9613245A.xcactivitylog
DerivedData/Contacts/Logs/Index Build/9BFDFAA2-69CB-4AB3-BF5B-EE27B1C07B2D.xcactivitylog
DerivedData/Contacts/Logs/Index Build/B1794D5E-6D39-456E-966E-A9E782AF3B5F.xcactivitylog
DerivedData/Contacts/Logs/Index Build/CB8822D6-50F9-4F40-B972-7CAA4F65240C.xcactivitylog
DerivedData/Contacts/Logs/Index Build/D50CD3B2-536B-4A3F-9346-E98891B0936F.xcactivitylog
DerivedData/Contacts/Logs/Index Build/E1EFB50D-A5F0-4FF6-ABFA-A28CEA005BD6.xcactivitylog
DerivedData/Contacts/Logs/Index Build/FADC8CF0-C9DC-4AF6-BC97-C176C1F4C440.xcactivitylog
DerivedData/Contacts/Logs/Issues/0E9255DE-74C0-4E19-84AC-E99F21AED80E.xcactivitylog
DerivedData/Contacts/Logs/Issues/36725C4A-E646-40F9-B095-B2E561D5D065.xcactivitylog
DerivedData/Contacts/Logs/Issues/722B16B7-BABB-4A25-A498-5BD8B9FA5FB2.xcactivitylog
DerivedData/Contacts/Logs/Issues/8A089B1D-B44D-4A53-B5D4-7E0AB5DAE45E.xcactivitylog
DerivedData/Contacts/Logs/Issues/D5159349-A6FC-49C4-B32B-AD1E9AB8CE3E.xcactivitylog
DerivedData/Contacts/Logs/Run/2247E2BA-D118-4A6C-AED4-C0E04EF2BD51.xcactivitylog
DerivedData/Contacts/Logs/Run/2613CBA9-8AC3-417E-9CE8-C94FE6137A82.xcactivitylog
DerivedData/Contacts/Logs/Run/2CA1892C-D697-4871-9324-2E0AA32305B1.xcactivitylog
DerivedData/Contacts/Logs/Run/5F31CDEB-59B8-4CFC-93EF-901EA201FC32.xcactivitylog
DerivedData/Contacts/Logs/Run/682C4F11-2056-4EF8-A310-664D73574A31.xcactivitylog
DerivedData/Contacts/Logs/Run/F948D2B6-3FAD-4FC2-A1ED-0EFB0AAB200E.xcactivitylog
